<%= render 'partials/navbar' %>

<div class="row">
  <div class="col s5 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator image-cd" src="http://res.cloudinary.com/df0hftplx/image/upload/v1492238949/gabscanu_zdlx8p.jpg">
      </div>
      <div class="card-content raleway">
        <span class="card-title activator grey-text text-darken-4">Gab Scanu<i class="material-icons right">more_vert</i></span>
        <p class="center-align"><a href="https://www.instagram.com/gabscanu/?hl=en" target="_blank">@gabscanu</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Gab Scanu<i class="material-icons right">close</i></span>
        <p>Gabriel Scanu is a 20 year old Instagram sensation who is the trailblazer for contemporary landscape photography thanks to his breathtaking aerial shots of iconic Australian landscapes and coastlines.</p>
      </div>
    </div>
  </div>

    <div class="col s5 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator image-cd" src="http://res.cloudinary.com/df0hftplx/image/upload/v1492243051/tobiashagg_cy21ed.png">
        </div>
        <div class="card-content raleway">
          <span class="card-title activator grey-text text-darken-4">Tobias Hagg<i class="material-icons right">more_vert</i></span>
          <p class="center-align"><a href="https://www.instagram.com/airpixels/?hl=en" target="_blank">@airpixels</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tobian Hagg<i class="material-icons right">close</i></span>
          <p>A photographer/filmmaker born and based in Eskilstuna, Sweden. Shooting his photographs from all around the globe his work has recently been seen in National Geographic, The Telegrapher & Daily Mail.</p>
        </div>
      </div>
    </div>

  <div class="col s5 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator image-cd" src="http://res.cloudinary.com/df0hftplx/image/upload/v1492242232/Screen_Shot_2017-04-15_at_5.43.21_pm_exkurr.png">
      </div>
      <div class="card-content raleway">
        <span class="card-title activator grey-text text-darken-4">Jordan T. Wright<i class="material-icons right">more_vert</i></span>
        <p class="center-align"><a href="https://www.instagram.com/taylorcutfilms/?hl=en" target="_blank">@taylorcutfilms</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Jordan Taylor Wright<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

  <div class="col s5 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator image-cd" src="https://scontent-ams3-1.cdninstagram.com/t51.2885-19/s320x320/13380879_792673624166842_1851267189_a.jpg">
      </div>
      <div class="card-content raleway">
        <span class="card-title activator grey-text text-darken-4">Max Muench<i class="material-icons right">more_vert</i></span>
        <p class="center-align"><a href="https://www.instagram.com/muenchmax/?hl=en" target="_blank">@muenchmax</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Max Muench<i class="material-icons right">close</i></span>
        <p>Max Muench is a Berlin based freelance photographer spezialised in outdoor, landscape and adventure. By following his passion to travel, he captures the beauty and diversity of our planet, always looking for a fresh perspective and the unique light.
          Recently exhibited in New York City by Instagram as one of its best photographers in 2015.</p>
      </div>
    </div>
  </div>

  <div class="col s5 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator image-cd" src="http://res.cloudinary.com/df0hftplx/image/upload/v1492832655/Screen_Shot_2017-04-22_at_1.43.50_pm_jcelo4.png">
      </div>
      <div class="card-content raleway">
        <span class="card-title activator grey-text text-darken-4">Clark Little<i class="material-icons right">more_vert</i></span>
        <p class="center-align"><a href="https://www.instagram.com/muenchmax/?hl=en" target="_blank">@clarklittle</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Max Muench<i class="material-icons right">close</i></span>
        <p>Award-winning photographer Clark Little was born in Napa, California.
          In 2007, Clark discovered his ability and passion to capture the extraordinary beauty of the shorebreak when his wife wanted a picture of the ocean to decorate the bedroom wall. With the confidence of an experienced surfer, Clark went out and bought a waterproof camera setup, jumped in the ocean, and started snapping away, recording the beauty and power of Hawaiian waves. </p>
      </div>
    </div>
  </div>

  <div class="col s5 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator image-cd" src="http://res.cloudinary.com/df0hftplx/image/upload/v1492242398/saltywings1_ht6tmw.png">
      </div>
      <div class="card-content raleway">
        <span class="card-title activator grey-text text-darken-4">Salty Wings<i class="material-icons right">more_vert</i></span>
        <p class="center-align"><a href="https://www.instagram.com/saltywings/?hl=en" target="_blank">@saltywings</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Salty Wings<i class="material-icons right">close</i></span>
        <p>Michael Goetze and Jampal Williamson are Salty Wings. <br>
          The pair - who joined forces in January 2016 - are already considered industry leaders in the aerial space. With a focus on seascapes; a mixture of vibrant water, pristine sand and rugged rocks, Salty Wings continues to search for imagery unlike anything else seen before. </p>
      </div>
    </div>
  </div>
</div>
