<% if @photograph.has_auction? && @photograph.auction.top_bid %>
  <% if @photograph.auction.top_bid.user_id == current_user.id %>
    <p>
      Congratulations! You won the auction.
    </p>
    <p>
      <%= link_to "Confirm", transfer_photograph_path(@photograph), id: "show_button", class: "waves-effect waves-light btn", method: :put %>
    </p>
  <% else %>
    <p>
      Sorry, this auction is now closed. <br>
      You didn't win this item.
    </p>
  <% end %>
<% end %>

<script type="text/javascript">
    var button = document.getElementById('show_button')
    button.addEventListener('click',hideshow,false);

    function hideshow() {
        document.getElementById('hidden-div').style.display = 'block';
        this.style.display = 'none'
    }
</script>
