<div class="row navbar-row">
  <div class="center-align">
    <div class="col s12 m6 l2">
      <a href="/photographs">Auctions</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/lists/influencer_list">Influencers</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="#">Services</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="#">Charities</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="#">About Us</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/contact/contact_page">Contact</a>
    </div>
  </div>
</div>
