<div class="row navbar-row divider-div">
  <div class="center-align raleway">
    <div class="col s12 m6 l2">
      <a href="/">Home</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/photographs">Auctions</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/lists/influencer_list">Influencers</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/pages/charity">Charities</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/pages/about">About Us</a>
    </div>
    <div class="col s12 m6 l2">
      <a href="/connect">Contact</a>
    </div>
  </div>
</div>
