<%= render "partials/navbar" %>

<h2 class="contact-title raleway capitalize">Who we are. <br> What we do.</h2>

<div class="divider">
</div>

<div class="row">
  <div class="col m8 border-right">
    <p>
    <span class="italic">INFLUENCE THIS</span> is a platform which specialises in charity and influencer collaboration.
    </p>
    <p>
    <span class="italic">INFLUENCE THIS</span> hosts talent of the digital age; each with an extensive reach and expertise
    in their chosen field. These influencers develop next-generation content across different sectors which is seen, shared
    and liked worldwide. This platform allows them to access their extensive reach and have their expertise in their chosen
    field auctioned off to charity.
    </p>
  </div>
  <div class="col m4 center-align">
    <a href="/pages/charity" class="waves-effect waves-light btn button-space button-width button-space-top">Charities</a> </br>
    <a href="/lists/influencer_list" class="waves-effect waves-light btn button-space button-width">Influencers</a> </br>
    <a href="/photographs" class="waves-effect waves-light btn button-space button-width">Auctions</a>
  </div>
</div>

<div class="divider">
</div>
