<%= render 'partials/navbar' %>

<h2 class="raleway">Admin Dashboard.</h2>

<div class="divider"></div>

<div class="col m6 osset-m3 center-align button-space">
  <a href="/pages/list_photo" class="waves-effect waves-light btn button-space button-width button-space-top">Auctions</a> </br>
  <a href="/pages/list_influencer" class="waves-effect waves-light btn button-space button-width">Influencers</a> </br>
  <a href="/pages/list_user" class="waves-effect waves-light btn button-space button-width">Users</a>
</div>

<div class="divider"></div>
