<%= render "partials/navbar" %>

<h2 class="contact-title raleway capitalize">Charities.</h2>

<div class="divider">
</div>

<div class="row valign-wrapper">
  <div class="col m4">
    <a href="http://www.gatesfoundation.org/" target="_blank">
      <img class="charity-img-size" src="https://agriknowledge.org/assets/agkno/gates-logo-bda5cc0866e8e37eccab4ac502b916c1.png" alt="Bill and Melinda Gates Foundation">
    </a>
  </div>
  <div class="col m7 right">
    <p class="raleway-normal charity-text-size text-indent">
      We work with partner organizations worldwide to tackle critical problems in four program areas.
    </p>
    <p class="raleway-normal text-indent">
      Our Global Development Division works to help the world’s poorest people lift themselves out of hunger and poverty. Our Global Health
      Division aims to harness advances in science and technology to save lives in developing countries. Our United States Division works to improve U.S. high school and
      postsecondary education and support vulnerable children and families in Washington State. And our Global Policy & Advocacy Division
      seeks to build strategic relationships and promote policies that will help advance our work.
    </p>
    <p class="raleway-normal text-indent">
      Our approach to grantmaking in all four areas emphasizes collaboration, innovation, risk-taking, and, most importantly, results.
    </p>
  </div>
</div>

<div class="divider"></div>

<div class="row valign-wrapper">
  <div class="col m4 center-align">
    <a href="https://www.worldwildlife.org/" target="_blank">
      <img class="charity-img-size" src="https://lh5.googleusercontent.com/-TzbErKDMBdA/AAAAAAAAAAI/AAAAAAAAGvU/PhADq1CuE4g/photo.jpg" alt="WWF">
    </a>
  </div>
  <div class="col m7 right">
    <p class="raleway-normal charity-text-size text-indent">
      For 50 years, WWF has been protecting the future of nature.
    </p>
    <p class="raleway-normal text-indent">
      The world’s leading conservation organization, WWF works in 100 countries and is supported by more than one million members in the
      United States and close to five million globally. WWF's unique way of working combines global reach with a foundation in science,
      involves action at every level from local to global, and ensures the delivery of innovative solutions that meet the needs of both
      people and nature.
    </p>
  </div>
</div>

<div class="divider"></div>

<div class="row valign-wrapper">
  <div class="col m4 center-align">
    <a href="https://www.unicef.org/" target="_blank">
      <img class="charity-img-size" src="http://www.clipartbest.com/cliparts/9Tz/L8E/9TzL8Eo8c.png" alt="Unicef">
    </a>
  </div>
  <div class="col m7 right">
    <p class="raleway-normal text-indent">
      UNICEF works in 190 countries and territories to protect the rights of every child. UNICEF has spent 70 years working to improve
      the lives of children and their families. Defending children's rights throughout their lives requires a global presence, aiming
      to produce results and understand their effects.
    </p>
  </div>
</div>

<div class="divider"></div>

<div class="row valign-wrapper">
  <div class="col m4">
    <a href="http://www.doctorswithoutborders.org/" target="_blank">
      <img class="charity-img-size-bigger" src="http://www.liveloverun.me/wp-content/uploads/2016/03/MSF.png" alt="Unicef">
    </a>
  </div>
  <div class="col m7 right">
    <p class="raleway-normal text-indent">
      Médecins Sans Frontières is the world’s leading independent organisation for medical humanitarian aid. Every day 30,000 Médecins
      Sans Frontières field staff are providing assistance to people caught in crises around the world. We have offices in 19 countries
      supporting these teams. We help people worldwide where the need is greatest, delivering emergency medical aid to people affected by
      conflict, epidemics, disasters, or exclusion from health care.
    </p>
  </div>
</div>

<div class="center-align button-space">
  <a href="/connect" class="waves-effect waves-light btn button-space button-width">Get Involved</a>
</div>
