<%= render "partials/home_navbar" %>

<%= render "partials/navbar" %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>
- carousel of pictures currently being auctioned/sold <br>
- navbar
</p>
