<%= render 'partials/navbar' %>

<h1 class="raleway button-space">New Photograph.</h1>

<%= render 'form', photograph: @photograph %>

<div class="row right">
  <%= link_to 'Back', photographs_path %>
</div>
