/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
 @import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,500,800');

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.raleway-normal {
  font-family: 'Raleway', sans-serif;
}

.small-writing {
  font-size: 12px;
}

.text-indent {
  text-indent: 20px;
}

.home-navbar-ul {
  list-style: none;
  float: right;
  margin-top: 1em;
}

.navbar-row {
  margin-top: 5em;
  margin-bottom: 5em;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  a {
    color: #747474;
  }
}

.navbar-row, .grey-link a:hover {
  color: black;
}

.line-height {
  line-height: 10%;
}

.grey-link a {
  color: #747474;
}

// devise styling
.devise-box-overflow {
  overflow: auto;
  background-color: #F5F5F5;
}

.rounded-edges {
  border-radius: 20px;
}

.devise-top-margin {
  margin-top: 8%;
}

.button-smaller-top {
  margin-top: 1em;
}

#instafeed {
  width: 100%;

  a {
    display: block;
    float: left;
    position: relative;
    width: 50%;


    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
