// Place all the styles related to the Connect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-title {
  font-size: 65px;
}

.contact-box {
margin-bottom: 3em;
}

.italic {
  font-style: italic;
}

.position {
  margin-top: -5px;
  line-height: 10%;
}

.contact-size {
  font-size: 14px;
}

.contact-content {
  margin-top: 3em;
}
.contact-button {
  margin-top: 1em;
}

.contact-flash {
  color: #ffab91;
}
